body{
    background-image: url(img/background.png) ;
}
.container{background-color: seashell;
    max-width: 800px;}

h1{ color: red;
text-align: center;
}
p{
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
#image{margin-left: 200px;

}

h2{color: blue;}